{% extends 'base.twig' %}
{% block content %}
    <div class="box import width">
        {% include 'navbar.twig' %}
        <div class="field has-addons ">
            <div class="control is-expanded">
                <input class="input search__input" type="text">
            </div>
            <div class="control">
                <button class="button is-info" onclick="Search()">Поиск</button>
            </div>
        </div>
        <script>Search()</script>
        <table class="table result-table">
            <thead>
            <tr>
                <th>Артикул</th>
                <th>Название товара</th>
                <th>Поставщик</th>
                <th>Цена</th>
                <th>Кол-во</th>
            </tr>
            </thead>
            <tbody class="result-database-table">
            {% for row in data['data'] %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr class="tbody-result-import__row__hide is-hidden"></tr>
            <td class="tbody-result-import__cell__hide is-hidden"></td>
            </tbody>
        </table>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if data['nAllRow'] > 0 %}

                {% if action == 'table' %}
                    <a class="pagination-next" href="/{{ action }}/{{ data['nAllRow'] - 1 }}">В конец</a>
                    <a class="pagination-previous" href="/{{ action }}/0">В начало</a>
                {% else %}
                    <a class="pagination-next" href="/{{ action }}/{{ word }}/{{ data['nAllRow'] }}">В
                        конец</a>
                    <a class="pagination-previous" href="/{{ action }}/{{ word }}/0">В начало</a>
                {% endif %}
                <ul class="pagination-list">

                    {% for i in range(0, data['nAllRow']) %}

                        {% if i < activePage + 3 and i > activePage - 3 %}

                            {% if i == activePage %}

                                {% if action == 'table' %}
                                    <li><a class="pagination-link is-current"
                                           href="/{{ action }}/{{ i }}">{{ i + 1 }}</a></li>
                                {% else %}
                                    <li><a class="pagination-link is-current"
                                           href="/{{ action }}/{{ word }}/{{ i }}">{{ i + 1 }}</a></li>
                                {% endif %}

                            {% else %}

                                {% if action == 'table' %}
                                    <li><a class="pagination-link" href="/{{ action }}/{{ i }}">{{ i + 1 }}</a></li>
                                {% else %}
                                    <li><a class="pagination-link"
                                           href="/{{ action }}/{{ word }}/{{ i }}">{{ i + 1 }}</a></li>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </nav>
    </div>
{% endblock %}