{% include 'head.html.twig' %}
<body>
<div class="box result-table__box container is-widescreen">
    <table class="table result-table">
        <thead>
        <tr>
            <th>Артикул</th>
            <th>Название товара</th>
            <th>Поставщик</th>
            <th>Цена</th>
            <th>Кол-во</th>
        </tr>
        </thead>
        <tbody class="result-database-table">
        {% for row in data['data'] %}
            <tr>

                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr class="tbody-result-import__row__hide"></tr>
        <td class="tbody-result-import__cell__hide"></td>
        </tbody>
    </table>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-next" href="?table/page:{{ data['nAllRow'][0]}}/show">В конец</a>
        <a class="pagination-previous" href="?table/page:0/show">В начало</a>
        <ul class="pagination-list">
            {% for i in 0..data['nAllRow'][0] %}

                {% if i < activePage + 3 and i > activePage - 3 %}

                    {% if i == activePage %}
                        <li><a class="pagination-link is-current" href="?table/page:{{ i }}/show">{{ i + 1 }}</a></li>
                    {% else %}
                        <li><a class="pagination-link" href="?table/page:{{ i }}/show">{{ i + 1 }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
</body>
</html>